@media only screen and (min-width: 1250px) {
    .menu .menu-bloc{
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: 1fr;
      column-gap: 3em;
      grid-template-areas: "menu-area-entree menu-area-meal menu-area-desserts";
      margin: 0 50px;
    }
    .menu .menu-header .menu-header-title{
      margin-left: 30px;
    }
    .menu-cards .menu-card-desc .menu-card-desc-info{
      margin: 0;
    }
    .menu .menu-bloc .menu-cards {
      display: block;
    }
}