$buttonColorPurple: rgb(147,86,220);
$buttonColorGradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);

$backgroundGrey: #F1F1F1;

$fontWhite: #FFF;

$fontRoboto: 'Roboto', sans-serif;
$fontShrikhand: 'Shrikhand', cursive;

*, *::after, *::before{
    box-sizing: border-box;
}
.container{
    margin: 0 20px;
}

body{
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color: inherit;
    }

}

/*****TOPBAR*****/

.topbar{
    .topbar-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $fontShrikhand;
        font-weight: 400;
        height: 55px;
        font-size: 1.7em;
        margin: 0;
        padding-top: 8px;
    }
    .topbar-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 43px;
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 0.61em;
        margin: 0;
        background: rgb(231,231,231);
        background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 91%, rgba(221,221,221,1) 95%, rgba(207,207,207,1) 100%);
    }
    .topbar-info-icon{
        margin-right: 10px;
        font-size: 1.48em;
    }
}

/*****BOOKING*****/

.booking{
    font-family: $fontRoboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    justify-content: space-around;
    background-color: $backgroundGrey;
    .booking-desc{
        display: flex;
        flex-direction: column;
        height: 120px;
        width: 280px;
        justify-content: space-around;
        margin-top: 20px;
        .booking-desc-title{
            text-align: center;
            margin: 0;
            font-weight: 700;
        }
        .booking-desc-info{
            text-align: center;
            margin: 0;
            font-weight: 400;
        }
    }
    .booking-link{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 13px 20px;
        color: $fontWhite;
        background: $buttonColorPurple;
        background: $buttonColorGradient;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        font-size: 0.95em;
        margin-bottom: 45px;
    }
}

/*****TUTORIAL*****/

.tutorial{
    font-family: $fontRoboto;
    margin: 45px 30px 50px 30px;
    .tutorial-button-list{
        display: flex;
        flex-direction: column;
        height: 225px;
        justify-content: space-between;
        .tutorial-button{
            border: solid 1px transparent;
            border-radius: 20px;
            background-color: $backgroundGrey;
            display: flex;
            flex-direction: row;
            align-items: center;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            padding: 3px;
            -webkit-box-shadow: 4px 3px 16px 0px rgba(0,0,0,0.25); 
            box-shadow: 4px 3px 16px 0px rgba(0,0,0,0.25);
            font-size: 0.9em;
            .tutorial-button-number{
                position: relative;
                left: -14px;
                padding: 2px 7px;
                color: $fontWhite;
                background: $buttonColorPurple;
                border: solid 0px transparent;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                font-size: 1em;
            }   
            .purple{
                color: $buttonColorPurple;
            }
            i{
                margin: 0 25px 0 5px;
            }
        }
    }
}

/*****RESTAURANTS*****/

.restaurants{
    font-family: $fontRoboto;
    background: $backgroundGrey;
    padding: 25px 0 35px 0;
    h2{
        display: flex;
        align-items: flex-end;
        margin: 0;
        font-size: 1.8em;
        font-weight: 700;
    }
    .restaurants-cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3em 16em 16em 16em 16em;
        row-gap: 1.5em;
        grid-template-areas: "restaurants-area-title"
                             "restaurants-area-1"
                             "restaurants-area-2"
                             "restaurants-area-3"
                             "restaurants-area-4";
        .restaurants-card{
            border: solid 0 transparent;
            border-radius: 15px;
            .restaurants-card-news-1{
                background: #99E2D0;
                color: #227963;
                position: absolute;
                padding: 7px 12px;
                top: 850px;
                right: 36px; 
                font-weight: 500;
                border-radius: 3px;
            }
            .restaurants-card-news-2{
                background: #99E2D0;
                color: #227963;
                position: absolute;
                padding: 7px 12px;
                top: 1130px;
                right: 36px;
                font-weight: 500;
                border-radius: 3px;
            }
            img{
                width: 100%;
                height: 180px;
                border: solid 0 transparent;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
            }
            .restaurants-card-info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background: $fontWhite;
                i{
                    font-size: 1.4em;
                    margin-right: 10px;
                }
                .restaurants-card-desc{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h3{
                        margin: 0 0 3px 0;
                        font-weight: 700;
                    }
                    p{
                        margin: 0;
                        font-weight: 400;
                    }
                }
            }
        }    
    }

}

.restaurants-area-title{
    grid-area: restaurants-area-title
}
.restaurants-area-1{
    grid-area: restaurants-area-1
}
.restaurants-area-2{
    grid-area: restaurants-area-2
}
.restaurants-area-3{
    grid-area: restaurants-area-3
}
.restaurants-area-4{
    grid-area: restaurants-area-4
}

/*****FOOTER*****/

.footer{
    background-color: rgb(48, 48, 48);
    color: $fontWhite;
    .footer-title{
        display: inline-block;
        font-family: $fontShrikhand;
        font-weight: 100;
        font-size: 1.4em;
        padding: 20px 0;
    }
    .footer-link{
        font-family: $fontRoboto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        padding-bottom: 30px;
        .footer-link-icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                margin: 0;
            }
            i{
                margin-right: 15px;
            }
        }
    }
}