$buttonColorPurple: rgb(147,86,220);
$buttonColorGradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);

$colorGreen: #99E2D0;

$backgroundGrey: #F1F1F1;

$fontWhite: #FFF;

$fontRoboto: 'Roboto', sans-serif;
$fontShrikhand: 'Shrikhand', cursive;

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color: inherit;
    }

}

.container{
    margin: 0 20px;
}

img{
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -1;
}

/*****TOPBAR*****/

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    i{
        font-size: 1.2em;
    }
    h1{
        font-family: $fontShrikhand;
        font-weight: 400;
        margin: auto;
        font-size: 1.8em;
    }
}

/*****MENU*****/

.menu{
    display: flex;
    flex-direction: column;
    font-family: $fontRoboto;
    background-color: $backgroundGrey;
    border: solid 0px transparent;
    border-radius: 40px 40px 0 0 ;
    margin-top: 230px;
    height: auto;
    .menu-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 25px 0 25px;
        .menu-header-title{
            font-family: $fontShrikhand;
            font-weight: 400;
            font-size: 1.6em;
            margin: 20px 0;
        }
        i{
            font-size: 1.4em;
        }  
    }
    .menu-bloc{
        .menu-cards{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-bottom: 30px;
            .menu-title{
                font-size: 1.0em;
                padding-bottom: 4px;
                font-weight: 400;
                border-bottom: solid 3px $colorGreen;
                width: 40px;
                margin: 0 0 20px 0;
            }
            .menu-card{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 65px;
                background-color: $fontWhite;
                border: solid 0px transparent;
                border-radius: 15px;
                padding: 10px 15px 10px 12px;
                margin-bottom: 15px;
                .menu-card-title{
                    font-size: 1.1em;
                    font-weight: 700;
                    margin: 0;
                }
                .menu-card-desc{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    .menu-card-desc-info{
                        margin: 0;
                    }
                    .menu-card-desc-price{
                        margin: 0;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .menu-button-order{
        padding: 15px 50px;
        background: $buttonColorPurple;
        background: $buttonColorGradient;
        border: solid 0px transparent;
        border-radius: 50px;
        color: $fontWhite;
        margin: 10px auto 80px auto;
    }
}

/*****FOOTER*****/

.footer{
    background-color: rgb(48, 48, 48);
    color: $fontWhite;
    .footer-title{
        display: inline-block;
        font-family: $fontShrikhand;
        font-weight: 100;
        font-size: 1.1em;
        padding: 20px 0 15px 0;
    }
    .footer-link{
        font-family: $fontRoboto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        padding-bottom: 30px;
        .footer-link-icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                margin: 0;
            }
            i{
                margin-right: 15px;
            }
        }
    }
}