*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 30px;
    height: 30px;
}

/*****TOPBAR*****/

.topbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    height: 55px;
    font-size: 1.7em;
    margin: 0 0 2px 0;
    border: solid 1px #c9c9c9;
    -webkit-box-shadow: 2px 4px 13px 0 rgba(95, 95, 95,,0.30); 
    box-shadow: 2px 4px 13px 0 rgba(95, 95, 95, 0.30);
}



.topbar_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.61em;
    margin: 0;
    background-color: #e7e7e7;
}

.topbar_info_icon{
    margin-right: 10px;
    font-size: 1.48em;
}