*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  margin: 0 20px;
}

body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: inherit;
}

.topbar .topbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  height: 55px;
  font-size: 1.7em;
  margin: 0;
  padding-top: 8px;
}
.topbar .topbar-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.61em;
  margin: 0;
  background: #e7e7e7;
  background: linear-gradient(0deg, #e7e7e7 0%, #e7e7e7 91%, #dddddd 95%, #cfcfcf 100%);
}
.topbar .topbar-info-icon {
  margin-right: 10px;
  font-size: 1.48em;
}

.booking {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  justify-content: space-around;
  background-color: #F1F1F1;
}
.booking .booking-desc {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 280px;
  justify-content: space-around;
  margin-top: 20px;
}
.booking .booking-desc .booking-desc-title {
  text-align: center;
  margin: 0;
  font-weight: 800;
}
.booking .booking-desc .booking-desc-info {
  text-align: center;
  margin: 0;
  font-weight: 300;
}
.booking .booking-link {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 13px 20px;
  color: #FFF;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 0.95em;
  margin-bottom: 45px;
}

.tutorial {
  font-family: "Roboto", sans-serif;
  margin: 45px 30px 50px 30px;
}
.tutorial .tutorial-button-list {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}
.tutorial .tutorial-button-list .tutorial-button {
  border: solid 1px transparent;
  border-radius: 20px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 4px 3px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 3px 16px 0px rgba(0, 0, 0, 0.25);
}
.tutorial .tutorial-button-list .tutorial-button .tutorial-button-number {
  position: relative;
  left: -20px;
  padding: 4px 8px;
  color: #FFF;
  background: #9356dc;
  border: solid 0px transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.tutorial .tutorial-button-list .tutorial-button .purple {
  color: #9356dc;
}
.tutorial .tutorial-button-list .tutorial-button i {
  margin: 0 25px 0 5px;
}

.restaurants {
  font-family: "Roboto", sans-serif;
  background: #F1F1F1;
  padding: 40px 0;
}
.restaurants h2 {
  margin: 0;
}
.restaurants .restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 15em 15em 15em 15em;
  row-gap: 1.5em;
  grid-template-areas: "restaurants-area-title" "restaurants-area-1" "restaurants-area-2" "restaurants-area-3" "restaurants-area-4";
}
.restaurants .restaurants-cards .restaurants-card {
  background: #FFF;
  border: solid 0 transparent;
  border-radius: 15px;
}
.restaurants .restaurants-cards .restaurants-card img {
  width: 100%;
  height: 180px;
  border: solid 0 transparent;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants .restaurants-cards .restaurants-card .restaurants-card-desc h3 {
  margin: 0;
}
.restaurants .restaurants-cards .restaurants-card .restaurants-card-desc p {
  margin: 0;
}

.restaurants-area-title {
  grid-area: restaurants-area-title;
}

.restaurants-area-1 {
  grid-area: restaurants-area-1;
}

.restaurants-area-2 {
  grid-area: restaurants-area-2;
}

.restaurants-area-3 {
  grid-area: restaurants-area-3;
}

.restaurants-area-4 {
  grid-area: restaurants-area-4;
}

/*# sourceMappingURL=main.css.map */
