/*****HOVER*****/

.tutorial .tutorial__buttons .tutorial__buttons__button:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.booking__link:hover {
  transform: scale(1.02);
}

.restaurants__card__footer__hearts--empty:hover,
.menu__header__hearts--empty:hover {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.restaurants .restaurants__card:hover {
  transform: scale(1.015);
}

.footer__link .footer__link__hover:hover {
  text-decoration: underline;
}
